<%- include("../partials/header.ejs") %>

<ul>
    <% dinos.forEach(dino => { %>
        <li>
            <%= dino.name %> is a <%= dino.type %>
        </li>
   <% }) %>
</ul>

<%- include("../partials/footer.ejs") %>