<%- include("../partials/header.ejs") %>

<h1>Create a new dino:</h1>

<!-- 
this form will create an object in the request body (req.body)
{
    // the keys correspond to the 'name' properties of the inputs
    name: what the user typed in,
    type: what the user typed in,
    // banana: ....
}

 -->

<form method="POST" action="/dinosaurs">
    
    <label for="dinoName">Name:</label>
    <input id="dinoName" type="text" name="name" placeholder="dino name..." />

    <label for="dinoType">Type:</label>
    <input id="dinoType" type="text" name="type" placeholder="dino typo..." />

    <!-- <input name="banana" /> -->

    <button type="submit">Create Dino</button>
</form>

<%- include("../partials/footer.ejs") %>